<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthUI</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuthUI.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_Header" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AuthUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const token = localStorage.getItem('token');
        const userName = localStorage.getItem('UserName');
        if(userName){
            $('#userNamePlaceholder').text(userName);
        }
        else{
            $('#userNamePlaceholder').text('User');
        }
        if(token){
            $('#registerLink').css('display','none');
            $('#loginLink').css('display','none');
            $('#protectedLink').css('display','block'),
            $('#dropdownLink').css('display','block');
        }
        else{
            $('#registerLink').css('display','block');
            $('#loginLink').css('display','block');
            $('#protectedLink').css('display','none'),
            $('#dropdownLink').css('display','none');
        }

        // add logout functionality

        $('#logoutLink').on('click', function(){
            const userConfirm = confirm("Are you sure you want to logout!");
            if(userConfirm){
                localStorage.removeItem('token');
                setTimeout(() => {
                    window.location.href = '/Home/Login';
                }, 500);
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

